body {
	font-family: cambria, sans-serif; 
	font-size: 13px;
	background: url('../img/bg.jpg');

}

#wrapper {
	width:1040px;
	margin:auto;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	/*background: url('../img/np.jpg' );*/

}

#header{
	height:100px;
	margin-bottom: 4px;
	padding-top: 21px;
	border: 1px solid #d7d7d7;
}

.h1title {
	margin-top: 5px;
	margin-left: 40px;
	font-family: Edwardian Script ITC; 
	text-align: left;
	font-size: 50px;

}

#mainmenu{
	height:26px;
	margin-top: -33;
	font-family: Edwardian Script ITC;
	font-size: 30px;
}

#mainmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mainmenu ul li {
	display: inline-block;
	margin-right: -4px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 40px;
	margin-right: 40px;

}

#mainmenu ul li a {
	line-height: 26px;
	display: block;
	padding:0 10px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

button {
	float: right;
	margin-top: -22px;
}

form {
	width: 300px;
}

article {
	margin-top: 10px;
	margin-left: 10px;
}


img {
	border-radius: 1px;
}

/* Kategorisidan */

.category{
	float:left;
	width: 299px;
	display:inline-block;
	padding-top:50px;
	padding-left:45px;
	margin:auto;
	
}

.category img{
	border: 1px solid #000;
	width: 200px;
	height:auto;
	margin-left: 22px;

}

.category:nth-child(4n+3){
clear:both
}

.category h3 {
	padding-right:45px;
	text-align:center;
}

.category p{
	width:200px;
	padding-left:22px;
	text-align:center;
	
}





footer{
	height: 40px;
	border: 1px solid #d7d7d7;
	float:left;
}

#footertext {
	margin-top: 10px;
	margin-left: 5px;
}


