body {
	font-family: gothic century, arial, sans-serif; 
	font-size: 13px;
	background: url(../img/bg.jpg);


}

#wrapper {
	width:1040px;
	margin:auto;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}

#header{
	height:100px;
	margin-bottom: 4px;
	padding-top: 21px;
	border: 1px solid #d7d7d7;
}

.h1title {
	margin: 30px;
	text-align: left;
}

#mainmenu{
	height:26px;
	margin-top: -33;
}

#mainmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mainmenu ul li {
	display: inline-block;
	margin-right: -4px;
}

#mainmenu ul li a {
	line-height: 26px;
	display: block;
	padding:0 10px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

button {
	float: right;
	margin-top: -22px;
}

form {
	width: 300px;
}

article {
	margin-top: 10px;
	margin-left: 10px;
}


img {
	border-radius: 1px;
}


footer{
	height: 40px;
	border: 1px solid #d7d7d7
}

#footertext {
	margin-top: 10px;
	margin-left: 5px;
}


