body {
	font-family: gothic century, arial, sans-serif; 
	font-size: 13px;
	background: url(../img/bg.jpg) no-repeat;


}

#wrapper {
	width:940px;
	margin:auto;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}

#header{
	background-color: lightpink;
	height:100px;
	margin-bottom: 4px;
	padding-top: 21px;
}

.h1title {
	margin: 30px;
	text-align: left;
}

#mainmenu{
	height:26px;
	margin-top: -33;
}

#mainmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mainmenu ul li {
	display: inline-block;
	margin-right: -4px;
}

#mainmenu ul li a {
	line-height: 26px;
	display: block;
	padding:0 10px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

button {
	float: right;
}

form {
	margin-right: 30px;
	float: right;
}


article {
	background-color: lightyellow;
}

img {
	float: left;
}

footer{
	background-color: lightblue;
	height: 90px;
	position: relative;
}


